@charset "UTF-8";

/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');*/
/*common*/
body {
	min-width: 320px;
	font-family: 'Noto Sans JP', sans-serif;
	background: #f4fff4;
}

.on {
	display: block !important;
}

.off {
	display: none !important;
	width: 0px !important;
	width: 0px !important;
}

.main-container {
	max-width: 900px;
	background: #FFF;
	box-shadow: 1px 1px 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: calc(100vh - 50px);
}

/*header*/
.navbar-brand-flex-left {
	flex: auto;
	margin-left: 10px;
}

.navbar-collapse-flex-100 {
	flex-basis: 100% !important;
}

.nav-costom {
	box-shadow: 0px 4px 4px;
	margin-bottom: 20px;
	background: #fff;
}

.nav-costom>button {
	color: #000;
	/* padding: 0px !important; */
	font-size: 1rem;
	background: #E9E9E9;
	/* border: 1px double; */
	/* padding: 22px; */
	border-radius: 10px;
	border-style: double;
	border-color: #000;
	padding: 2px 5px;
}

.search-custom {
	margin-left: auto;
	margin-right: 0px;
}

/*menu*/
aside.leftside {
	position: fixed;
	width: 300px;
	background-color: rgba(255, 255, 255, 1);
	z-index: 1001;
	/* transition: left 50ms linear; */
	/*border: 1px solid #000;*/
	overflow: auto;
	display: none;
	top: 0px;
	box-shadow: 2px 0px 4px;
	height: 100%
}

.menu-close-off {
	display: none;
}

section.menu-back-layout {
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

div.bs-glyphicons {
	width: 100%;
	height: 55px;
	/* margin-bottom: 20px; */
}

ul.bs-glyphicons-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.bs-glyphicons-list>li {
	float: left;
	width: 20%;
	height: 55px;
	padding: 3px;
	font-size: 10px;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	padding-top: 6px;
}

ul.bs-glyphicons-list>li>span:first-child {
	font-size: 30px;
	width: 100%;
}

ul.bs-glyphicons-list>li:hover {
	background-color: #81a9db;
	color: #FFF;
}

aside.leftside h5.side-header>img {
	width: 50px;
	height: 50px;
	background-color: #FFF;
	border-radius: 30px;
	margin-right: 20px;
}

h5.side-header {
	padding: 10px;
	/*box-shadow: 0px 2px 8px;*/
}

aside.leftside .side-search {
	/*display:none;*/
	
}

div.side-list {
	min-height: 250px;
}

div.side-list a {
	text-decoration: none;
	color: #000;
}

div.side-list a:hover {
	color: #81a9db;
}

div.side-list a.active {
	color: #81a9db;
}

div.side-list ul {
	list-style: none;
	padding: 0px;
}

div.side-list>ul.side-nav>li>a {
	height: 40px;
	display: block;
	border-bottom: 1px solid #bdc3c7;
	/*margin: 10px;*/
	margin: 5px;
	padding: 5px;
	padding-top: 12px;
	padding-bottom: 3px;
	/*font-size: 20px;*/
	font-size: 17px;
	text-decoration: none;
}
div.side-list>ul.side-nav>li>a>span.fa{
	margin-top: 4px;
}

div.side-list>ul.side-nav>li>ul>li>a {
	height: 30px;
	display: block;
	margin: 2px;
	margin-left: 30px;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 3px;
	font-size: 13px;
}

div.attachfile {
	display: inline-block;
}

/*list*/
div.searchList {
	text-align: center;
	border-bottom: 2px solid #ccc;
}

div.searchList h1 {
	font-size: 25px;
}

div.searchList h1>span {
	color: #81a9db;
}

div.searchList h1>span:before {
	content: "\201C";
	color: #81a9db;
	font-size: 25px;
}

div.searchList h1>span:after {
	content: "\201D";
	color: #81a9db;
	font-size: 25px;
}

article>div.no-result {
	margin-top: 100px;
}

article>div.searchListEntity {
	box-shadow: 1px 1px 2px;
	margin: 10px 0px;
	padding: 0px 30px;
}

article>div.searchListEntity>div.list-body a {
	text-decoration: none;
	color: #000;
}

article>div.searchListEntity>div.list-body .flexbox {
	float: left;
}

article>div.searchListEntity>div.list-body a.list-link>h5 {
	/*font-size: 1.5rem;*/
	white-space: normal;
	line-height: 1.2;
	min-height: 1.2em;
	max-height: 2.4em;
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-top: 15px;
}

article>div.searchListEntity>div.list-body a.list-link:hover>h5 {
	color: #81a9db;
}

.data-column-label, .date-column, .tag-column {
	font-size: 0.70rem;
}

.p-category {
	font-size: 0.7rem;
	font-weight: bold;
}

.p-category:hover {
	color: #81a9db !important;
}

.p-tag:hover {
	color: #81a9db !important;
}

.list-meta p {
	margin-bottom: 5px;
	line-height: 0.75rem;
}

.note-editing-area p {
	margin-bottom: 0px;
}

article>div.searchListEntity>div.list-body a.list-link>p.list-summary {
	font-size: 0.85rem;
	color: #000;
	/* min-height: 80px; */
	white-space: normal;
	line-height: 1.2;
	height: 3.6em;
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-break: break-all;
}
footer{
    max-width: 900px;
    text-align: right;
    font-size: 0.7rem;
	margin-left: auto;
    margin-right: auto;
}

/*Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 576px) {
	.container-fluid {
		padding-right: 5px;
		padding-left: 5px;
	}
	.container-fluid {
		padding: 5px;
	}
	.list-area-panel {
		padding: 0px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 768px) {
	.container-fluid {
		padding-right: 5px;
		padding-left: 5px;
	}
	.container-fluid {
		padding: 5px;
	}
	.list-area-panel {
		padding: 0px;
	}
	div.searchList h1 {
		font-size: 1.2rem;
	}
	div.searchList p {
		font-size: 0.9rem;
		margin-bottom: 10px;
	}
	article>div.searchListEntity {
	    padding: 0px 10px;
	}
	article>div.searchListEntity>div.list-body a.list-link>h5 {
		font-size: 1.1rem;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	article>div.searchListEntity>div.list-body a.list-link>p.list-summary {
		font-size: 0.7rem;
		line-height: 1.8;
		height: 5.4em;
		margin-bottom: 10px;
	}
	.p-category {
	    font-size: 0.6rem;
	}
	.data-column-label, .date-column, .tag-column {
	    font-size: 0.60rem;
	}
	footer{
		font-size: 0.5rem;
	}
}

@media screen and ( max-width : 1199px) {
	/*.navbar-expand-lg .navbar-toggler {
		display: inherit;
	}
	.main-container {
		padding: 30px;
	}*/
	body.mobile-fixed{
		position: fixed;
		width: 100%;
	}
}

/*Large devices (desktops, 992px and up)*/
/*@media screen and ( min-width : 992px) {
	.navbar-expand-lg .navbar-toggler {
		display: inherit;
	}
	.main-container {
		padding: 30px;
	}
}*/

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and ( min-width : 1200px) {
	body {
		padding-top: 25px;
	}
	.menu-toggle {
		display: none;
	}
	.main-container,
	footer {
		margin-left: calc(( 100vw - 1200px) / 2 + 300px);
	}
	aside.leftside {
		display: block;
		/*top: 70px;*/
		height: calc(100vh);
		left: calc(( 100vw/ 2) - 615px);
	}
	.menu-close {
		display: none;
	}
	.menu-close-off {
		display: block;
	}
	.navbar {
		display: none;
	}
	aside.leftside .side-search {
		display: block;
	}
}